<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>Manmohan Singh - Building things for the Web</title>
    <meta
      name="description"
      content="Frontend developer based in India. Working with JavaScript & Figma. Building things for the Web."
    />
  </head>
  <body>
    <p>Manmohan Singh - Building things for the Web</p>
  </body>
</html>
